footer.index-footer.container-fluid
    .container
        .row
            nav.footer-menu_items.col-5
                .row
                    .footer-menu_item.col-4
                        h4
                            a(href='#') Катаолог
                        ul
                            li
                                a(href='#') Кошки
                            li
                                a(href='#') Собаки
                            li
                                a(href='#') Котята
                            li
                                a(href='#') Шенки
                    .footer-menu_item.col-4
                        h4
                            a(href='#') Покупателям
                        ul
                            li
                                a(href='#') Акции
                            li
                                a(href='#') Бренды
                            li
                                a(href='#') Как купить
                            li
                                a(href='#') Доставка
                    .footer-menu_item.col-4
                        h4
                            a(href='#') Сервисы
                        ul
                            li
                                a(href='#') Клубы и питомники
                            li
                                a(href='#') Доска объявлений
                            li
                                a(href='#') Зоогостиницы
                            li
                                a(href='#') Статьи
                            li
                                a(href='#') Новости
            .feedback.col-4
                ul
                    li
                        a(href='#') Перезвоните мне
                    li
                        a(href='#') Обратная связь
            .contacts.col-3
                .contacts_phons
                    a(href='tel:88002341216') 8 800 234 12 16
                    a(href='tel:88002341216') 8 800 234 12 16
                .contacts_email
                    a(href='mailto:petshop@petshop.com')
                .contacts_address
                    p г. Москва, ул. Зеленая,дом 5, корп. 1



