footer.index-footer.container-fluid.p-4
    .container
        .row
            nav.footer-menu_items.col-5
                .row
                    .footer-menu_item.col-4
                        h4
                            a.title(href='#') Катаолог
                        ul.footer-menu_item_catalog
                            li
                                a(href='#') Кошки
                            li
                                a(href='#') Собаки
                            li
                                a(href='#') Котята
                            li
                                a(href='#') Шенки
                    .footer-menu_item.col-4
                        h4
                            a.title(href='#') Покупателям
                        ul.footer-menu_item_buyers
                            li
                                a(href='#') Акции
                            li
                                a(href='#') Бренды
                            li
                                a(href='#') Как купить
                            li
                                a(href='#') Доставка
                    .footer-menu_item.col-4
                        h4
                            a.title(href='#') Сервисы
                        ul.footer-menu_item_services
                            li
                                a(href='#') Клубы и питомники
                            li
                                a(href='#') Доска объявлений
                            li
                                a(href='#') Зоогостиницы
                            li
                                a(href='#') Статьи
                            li
                                a(href='#') Новости
            .feedback.col-4
                ul.feedback_items
                    li
                        a(href='tel:88002341216') <i class="fas fa-mobile-alt pr-2"></i> 8 800 234 12 16
                    li
                        a(href='mailto:petshop@petshop.com') <i class="fas fa-envelope pr-2"></i> Обратная связь
            .contacts.col-3
                .contacts_phons
                    a(href='tel:88002341216') <i class="fas fa-phone-volume pr-2"></i> 8 800 234 12 16
                .contacts_phons
                    a(href='tel:88002341216') <i class="fas fa-phone-volume pr-2"></i> 8 800 234 12 16
                .contacts_email
                    a(href='mailto:petshop@petshop.com') <i class="fas fa-envelope pr-2"></i> petshop@petshop.com
                .contacts_address
                    p <i class="fas fa-map-marker-alt pr-2"></i> г. Москва, ул. Зеленая,дом 5, корп. 1
            .copy.col-12
                p.copy_text © Зоомагазин «Зоомагазин»


