footer.index-footer.container-fluid
    .container
        .row
            nav.footer-menu.col-5
                .footer-menu_item.col-4
                    h4 Катаолог
                    ul
                        li Кошки
                        li Собаки
                        li Котята
                        li Шенки
                .footer-menu_item.col-4
                    h4 Покупателям
                    ul
                        li Акции
                        li Бренды
                        li Как купить
                        li Доставка
                .footer-menu_item.col-4
                    h4 <a>Сервисы</a>
                    ul
                        li Клубы и питомники
                        li Доска объявлений
                        li Зоогостиницы
                        li Статьи
                        li Новости
            .feedback.col-4
                ul
                    li
                        a Перезвоните мне
                    li
                        a Обратная связь
            .contacts.col-3
                .contacts_phons
                    a(href='tel:88002341216') 8 800 234 12 16
                    a(href='tel:88002341216') 8 800 234 12 16
                .contacts_email
                    a(href='mailto:petshop@petshop.com')
                .contacts_address
                    p г. Москва, ул. Зеленая,дом 5, корп. 1



