header.index-header
    .mini-line-banner.container-fluid
        .container
            .row
                .mini-line-banner_phone.col-3
                    a(href='tel:88002341216') <i class="fas fa-phone-volume"></i> 8-800-234-12-16
                .mini-line-banner_delivery.col-9
                    a(href='#') <i class="fas fa-shuttle-van"></i> Бесплатная доставка

    nav.main-menu.container
        .row
            .col-2.main-menu_logo
                img(src='img/index/pet-food.png' alt='logo')
                figure.main-menu_logo_title
                    h2 <span>15%</span> на товары для содержания и ухода
            .col-7.main-menu_link
                ul.top-menu
                    li
                        .dropdown.show
                            a(href='#' role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Товары по питомцу <i class="fas fa-angle-down"></i>
                            .dropdown-menu(aria-labelledby="dropdownMenuLink1")
                                a.dropdown-item(href="#") Item 1
                                a.dropdown-item(href="#") Item 2
                                a.dropdown-item(href="#") Item 3

                    li
                        .dropdown.show
                            a(href='#' role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") По бренду <i class="fas fa-angle-down"></i>
                            .dropdown-menu(aria-labelledby="dropdownMenuLink2")
                                a.dropdown-item(href="#") Item 1
                                a.dropdown-item(href="#") Item 2
                                a.dropdown-item(href="#") Item 3
                    li
                        .dropdown.show
                            a(href='#' role="button" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Магазин <i class="fas fa-angle-down"></i>
                            .dropdown-menu(aria-labelledby="dropdownMenuLink3")
                                a.dropdown-item(href="#") Item 1
                                a.dropdown-item(href="#") Item 2
                                a.dropdown-item(href="#") Item 3
                    li
                        .dropdown.show
                            a(href='#' role="button" id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Акции <i class="fas fa-angle-down"></i>
                            .dropdown-menu(aria-labelledby="dropdownMenuLink4")
                                a.dropdown-item(href="#") Item 1
                                a.dropdown-item(href="#") Item 2
                                a.dropdown-item(href="#") Item 3
                    li
                        .dropdown.show
                            a(href='#' role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Сервисы <i class="fas fa-angle-down"></i>
                            .dropdown-menu(aria-labelledby="dropdownMenuLink5")
                                a.dropdown-item(href="#") Item 1
                                a.dropdown-item(href="#") Item 2
                                a.dropdown-item(href="#") Item 3

            .col-3.main-menu_right
                .main-menu_right_search <i class="fas fa-search"></i>
                .main-menu_right_basket <i class="fas fa-shopping-cart"></i>