main.index-main
    .main-slider.container-fluid.p-0


    section.popular-goods.my-4.container
        .d-flex.justify-content-center
            h2.popular-goods_title Популярные товары
        .popular-goods_items
            .popular-goods_item
                img(src='img/index/popular/popular-goods-1.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus0') <i class="fas fa-minus"></i>
                        p.count(id='count0') 0
                        button.btn-count.plus(id='plus0') <i class="fas fa-plus"></i>


            .popular-goods_item
                img(src='img/index/popular/popular-goods-2.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus1') <i class="fas fa-minus"></i>
                        p.count(id='count1') 0
                        button.btn-count.plus(id='plus1') <i class="fas fa-plus"></i>

            .popular-goods_item
                img(src='img/index/popular/popular-goods-3.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus2') <i class="fas fa-minus"></i>
                        p.count(id='count2') 0
                        button.btn-count.plus(id='plus2') <i class="fas fa-plus"></i>

            .popular-goods_item
                img(src='img/index/popular/popular-goods-4.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus3') <i class="fas fa-minus"></i>
                        p.count(id='count3') 0
                        button.btn-count.plus(id='plus3') <i class="fas fa-plus"></i>




            .popular-goods_item
                img(src='img/index/popular/popular-goods-5.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus4') <i class="fas fa-minus"></i>
                        p.count(id='count4') 0
                        button.btn-count.plus(id='plus4') <i class="fas fa-plus"></i>






    section.sale-goods.my-4.container
        .d-flex.justify-content-center
            h2.sale-goods_title Распродажа
        .sale-goods_items
            .sale-goods_item
                img(src='img/index/sale/sale-goods-1.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus5') <i class="fas fa-minus"></i>
                        p.count(id='count5') 0
                        button.btn-count.plus(id='plus5') <i class="fas fa-plus"></i>

            .sale-goods_item
                img(src='img/index/sale/sale-goods-2.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus6') <i class="fas fa-minus"></i>
                        p.count(id='count6') 0
                        button.btn-count.plus(id='plus6') <i class="fas fa-plus"></i>

            .sale-goods_item
                img(src='img/index/sale/sale-goods-3.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus7') <i class="fas fa-minus"></i>
                        p.count(id='count7') 0
                        button.btn-count.plus(id='plus7') <i class="fas fa-plus"></i>
            .sale-goods_item
                img(src='img/index/sale/sale-goods-4.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus8') <i class="fas fa-minus"></i>
                        p.count(id='count8') 0
                        button.btn-count.plus(id='plus8') <i class="fas fa-plus"></i>

            .sale-goods_item
                img(src='img/index/sale/sale-goods-5.jpg')
                p.title Royal Canin Giant Puppy 34
                p.introtext сухой корм для щенков очень...
                .info
                    .info_weight
                        span.flag1 400 г
                        span.flag2 1 кг
                        span.flag3.active 3 кг
                    .info_buttons
                        button.btn-price <i class="fas fa-shopping-cart"></i> 2500руб
                        button.btn-count.minus(id='minus9') <i class="fas fa-minus"></i>
                        p.count(id='count9') 0
                        button.btn-count.plus(id='plus9') <i class="fas fa-plus"></i>



    section.brands.my-4.container
        .d-flex.justify-content-center
            h2.brands_title Популярные бренды
        .brands_items
            .brands_item
                img.underlining(src='img/index/brand/brand-1.png' width="195px" height="59px")
                img(src='img/index/brand/brand-2.png' width="160px" height="104px")
            .brands_item
                img.underlining(src='img/index/brand/brand-3.png' width="172px" height="67px")
                img(src='img/index/brand/brand-4.png' width="158px" height="69px")
            .brands_item
                img.underlining(src='img/index/brand/brand-5.png' width="202px" height="109px")
                img(src='img/index/brand/brand-6.png' width="192px" height="69px")
            .brands_item
                img.underlining(src='img/index/brand/brand-7.png' width="184px" height="104px")
                img(src='img/index/brand/brand-8.png' width="138px" height="86px")
            .brands_item
                img.underlining(src='img/index/brand/brand-9.png' width="133px" height="133px")
                img(src='img/index/brand/brand-10.png' width="195px" height="47px")
        .d-flex.justify-content-end.align-items-center.my-2
            a.brands_link(href='#') показать все <i class="fas fa-angle-right"></i>
    section.advantages.my-5.container
        .advantages_items
            .advantages_item
                img(src='img/index/advantages/advantages-1.png')
                h3.title Бонусная программа
                p.text Вернём до 7% от суммы заказа на бонусную карту
            .advantages_item
                img(src='img/index/advantages/advantages-2.png')
                h3.title Выгодные предложения
                p.text Вернём до 7% от суммы заказа на бонусную карту
            .advantages_item
                img(src='img/index/advantages/advantages-3.png')
                h3.title Огромный выбор
                p.text Самый широкий ассортимент товаров для животных
            .advantages_item
                img(src='img/index/advantages/advantages-4.png')
                h3.title Удобная оплата
                p.text Оплата заказа как наличными,так и банковской картой
            .advantages_item
                img(src='img/index/advantages/advantages-5.png')
                h3.title Быстрая доставка
                p.text Удобный сервис! Доставка заказов по Московской обл.

    section.why-our-goods.container.my-4
        .d-flex.justify-content-center
            h2.why-our-goods_title Почему клиенты выбирают наши товары
        .row
            .why-our-goods_article.col-4
                .why-our-goods_article_top
                    img(src='img/index/icons/icons-1.png')
                    p.title Категории товаров
                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .why-our-goods_article.col-4
                .why-our-goods_article_top
                    img(src='img/index/icons/icons-2.png')
                    p.title Почему покупатели выбирают нас?
                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .why-our-goods_article.col-4
                .why-our-goods_article_top
                    img(src='img/index/icons/icons-3.png')
                    p.title Доставка товаров для животных
                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    section.news.container-fluid.pb-5
         .container
            .d-flex.justify-content-center
                h2.news_title Новости
            .news_items
                .news_item.card
                    img.card-img-top(src='img/index/news/news-1.jpg')
                    .card-body
                        p.card-title Title 1
                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore, iusto nam neque odit omnis optio praesentium provident sapiente veniam! Cum cupiditate, explicabo facilis hic numquam optio quo rem vitae.
                    .card-footer
                        span.data 18-05-18
                        a.btn-news(href='#') Читать

                .news_item.card
                    img.card-img-top(src='img/index/news/news-2.jpg')
                    .card-body
                        p.card-title Title 2
                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore, iusto nam neque odit omnis optio praesentium provident sapiente veniam! Cum cupiditate, explicabo facilis hic numquam optio quo rem vitae.
                    .card-footer
                        span.data 18-05-18
                        a.btn-news(href='#') Читать

                .news_item.card
                    img.card-img-top(src='img/index/news/news-3.jpg')
                    .card-body
                        p.card-title Title 3
                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore, iusto nam neque odit omnis optio praesentium provident sapiente veniam! Cum cupiditate, explicabo facilis hic numquam optio quo rem vitae.
                    .card-footer
                        span.data 18-05-18
                        a.btn-news(href='#') Читать

    section.form-question.container.my-5
        .d-flex.justify-content-center
            h2.form-question_title.text-center Задайте нам вопрос
        form.row
            .col-6.form-group
                input.form-control.m-3.form--br(name='name' id='name' placeholder='Имя')
                input.form-control.m-3.form--br(name='phone' id='phone' placeholder='Телефон')
                input.form-control.m-3.form--br(name='email' id='email' placeholder='E-mail')
            .col-6
                textarea.form-control.m-3.form--br(name='message' rows='5' placeholder='Текстовое сообщение')
                //button.btn-submit.btn--center(type='submit')  Отправить
                //button.btn.color-4.material-design.form--br(type='button' data-color="#d2181c") Отправить
            //button.btn-submit Отправить
            a(href="#").button-an.button-an-5 Отправить
