//ANIMATION
.popular-goods_item:hover,
.sale-goods_item:hover {
  outline: 1px solid #c6c6c6;
  box-shadow: 0 0 24px rgba(22, 22, 22, 0.23);
}
.btn-price:hover {
  display: inline-block;
  border-radius: 7px;
  padding: 3px 7px;
  opacity: 0.6;
  background-color: #ff3434;
  color: white;
  border: inherit;
}

