.index-footer {
  background-color: #152843;
  color: white;
}
.index-footer a {
  color: white;
}
.footer-menu_item h4 {
  font-size: 18px;
}
.footer-menu_item li a {
  font-size: 14px;
  color: gray;
}